body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: red;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  font-size: 12px
}

nav {
  text-align: center;
}

.link {
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

#featured-property > p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:800px;
}

#details {
  display: block;
}
#details > div {
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}