body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: red;
  text-align: center;
}

.image  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  text-align: center;
}

.link {
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

